* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  color: white;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.margin {
  margin-left: 20%;
  margin-right: 20%;
}

.page1 {
  min-height: 100vh;
  width: 100%;
  background-color: #0077b6;
}
#nav {
  height: 100px;
  display: flex;
  align-items: end;
  justify-content: space-between;
}
#nav h4 {
  font-size: 13px;
  font-weight: 400;
}
.page1 h1 {
  font-size: 8vw;
  font-weight: 400;
  margin-top: 16vw;
  margin-left: 20vw;
}
.page1 h2 {
  font-size: 8vw;
  font-weight: 300;
  margin-left: 33vw;
  margin-top: -4vw;
}
.hero {
  display: flex;
}
.page1 img {
  height: 600px;
  width: 550px;
  position: absolute;
  left: 55vw;
  top: -2vw;
}
.page2 {
  min-height: 100vh;
  width: 100%;
  background-color: #ade8f4;
}
.page2 h2,
h3 {
  color: #03045e;
}
.page2 h3 {
  padding-top: 4vw;
  font-weight: 300;
  font-size: 1.3vw;
}
.page2 h2 {
  padding-top: 1vw;
  font-size: 2vw;
  font-weight: 600;
}
.page2 h1 {
  color: black;
}
.columns {
  display: flex;
  padding-top: 1vw;
}
.columns p {
  font-size: 1vw;
  font-weight: 300;
  font-size: 16px;
  padding-top: 1vw;
  padding-left: 16vw;
  color: #023e8a;
}
.page2 img {
  display: block;
  margin: 0 auto;
  max-width: 60%;
  height: auto;
}
.page3 {
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  height: min-content; /* 860px */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ade8f4;
  padding: 20vw 20vw 0vw 20vw;
}

.card {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
.Left_card {
  flex: 1;
  background-color: #97e2f1;
  padding: 3rem;
  border-radius: 20px;
}

.Right_card {
  background-color: #97e2f1;
  padding: 2rem;
  border-radius: 20px;
}

.card2 {
  display: flex;
  width: 70%;
  justify-content: center;
  gap: 10px;
  margin-top: 7rem;
}

.card h2 {
  color: #023e8a;
  font-weight: 400;
}
.card h1 {
  color: #03045e;
}
.page4 {
  min-height: 100vh;
  padding: 10vw 20vw 0vw 20vw;
  background-color: #ade8f4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card2 {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
.card2 img {
  width: 180px;
  height: 180px;
}

.page5 h1 {
  font-size: 3vw;
  font-weight: 600;
  padding-top: 6vw;
  color: #023e8a;
}
.page5 h3 {
  font-size: 1.3vw;
  font-weight: 300;
  padding-top: 1vw;
  color: #023e8a;
  text-align: center;
}
.page5 button {
  background-color: black;
  color: #48cae4;
  border: none;
  border-radius: 10px;
  padding: 1vw 2vw 1vw 2vw;
  margin-top: 2vw;
  font-size: 1.3vw;
  font-weight: 300;
}

.page5 {
  min-height: 100vh;
  background-color: #ade8f4;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* align-items: center; */
}

.contact_us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}
.footer a {
  display: block;
}

.footer_bottom {
  margin-top: 2rem;
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.footer_bottom p {
  color: black;
}
.icon {
  display: flex;
}
