* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  color: white;
}
html,
body {
  height: 100%;
  width: 100%;
}

.margin {
  margin-left: 20%;
  margin-right: 20%;
}

.page1 {
  min-height: 100vh;
  width: 100%;
  background-color: #0077b6;
}
#nav {
  height: 100px;
  display: flex;
  align-items: end;
  justify-content: space-between;
}
#nav h4 {
  font-size: 13px;
  font-weight: 400;
}

.hero {
  display: flex;
}
.hero_title {
  flex: 1;
  padding-top: 7vw;
  padding-left: 20vw;
}
.hero_title h1 {
  font-size: 5vw;
  font-weight: 600;
  padding-bottom: 0.4vw;
}
.hero_title h2 {
  font-size: 1.5rem;
  font-weight: 300;
  padding-bottom: 1vw;
}
.hero_button {
  background-color: black;
  color: #48cae4;
  border: none;
  border-radius: 10px;
  padding: 1vw 2vw 1vw 2vw;
  margin-top: 2vw;
  font-size: 1.3vw;
  font-weight: 300;
}

.page1 img {
  height: 400px;
  width: auto;
  position: absolute;
  left: 58vw;
  top: 16vw;
}
.page2 {
  min-height: 100vh;
  width: 100%;
  background-color: #ade8f4;
}
.page2 h2,
h3 {
  color: #03045e;
}
.page2 h3 {
  padding-top: 4vw;
  font-weight: 300;
  font-size: 1.3vw;
}
.page2 h2 {
  padding-top: 1vw;
  font-size: 2vw;
  font-weight: 600;
}
.page2 h1 {
  color: black;
}
.columns {
  display: flex;
  padding-top: 1vw;
}
.columns p {
  font-size: 1vw;
  font-weight: 300;
  font-size: 16px;
  padding-top: 1vw;
  padding-left: 16vw;
  color: #023e8a;
}
.page2 img {
  display: block;
  margin: 0 auto;
  max-width: 30%;
  height: auto;
  padding-top: 4vw;
  padding-bottom: 5vw;
}
.page3 {
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  height: min-content; /* 860px */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ade8f4;
  padding: 3vw 20vw 0vw 20vw;
}

.page3 img {
  width: 60%;
  height: auto;
  padding-top: 2vw;
  padding-bottom: 2vw;
}

.card {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
.Left_card {
  flex: 1;
  background-color: #97e2f1;
  padding: 2.5rem;
  border-radius: 20px;
}

.Right_card {
  background-color: #97e2f1;
  padding: 2.5rem;
  border-radius: 20px;
}

.card2 {
  display: flex;
  width: 70%;
  justify-content: center;
  gap: 10px;
  margin-top: 7rem;
}

.card h2 {
  color: #023e8a;
  font-weight: 400;
}
.card h1 {
  color: #03045e;
}
.page4 {
  height: 100%;
  min-height: 100vh;
  padding: 10vw 20vw 0vw 20vw;
  background-color: #ade8f4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card2 {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
.card2 img {
  width: 100%;
  height: 180px;
  border-radius: 20px;
}
.card2 h3 {
  font-weight: 600;
}
.card2 h4 {
  color: #023e8a;
  font-weight: 300;
  text-align: center;
  padding-top: 1vw;
}

.page5 h1 {
  font-size: 3vw;
  font-weight: 600;
  padding-top: 6vw;
  color: #023e8a;
}
.page5 h3 {
  font-size: 1.3vw;
  font-weight: 300;
  padding-top: 1vw;
  color: #023e8a;
  text-align: center;
}
.page5 button {
  background-color: black;
  color: #48cae4;
  border: none;
  border-radius: 10px;
  padding: 1vw 2vw 1vw 2vw;
  margin-top: 2vw;
  font-size: 1.3vw;
  font-weight: 300;
}

.page5 {
  min-height: 100vh;
  background-color: #ade8f4;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.contact_us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer {
  padding-top: 5vw;
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}
.footer a {
  display: block;
  color: #023e8a;
  padding: 3px;
}
.footer .title {
  color: black;
}

.footer_bottom {
  margin-top: 2rem;
  width: 50%;
}
.footer_bottom p {
  color: black;
  display: block;
  padding: 0.7vw;
}

/* Add a media query for smaller screen sizes */
@media screen and (max-width: 768px) {
  .margin {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 10vw;
  }
  .hero_title {
    padding: 10vw;
    position: relative;
  }
  .hero_title h1 {
    font-size: 9vw;
  }
  .hero_title h2 {
    font-size: 0.9rem;
  }
  .hero_button {
    font-size: 0.7rem;
  }
  .page1 img {
    height: auto;
    width: 50%;
    position: absolute;
    padding-top: 70vw;
    left: 25vw;
  }
  .page2 img {
    max-width: 60%;
    padding-top: 10vw;
    padding-bottom: 10vw;
  }

  .page2 h3,
  h1 {
    font-size: 1rem;
  }
  .columns {
    display: block;
    padding-top: 5vw;
  }
  .columns p {
    padding-left: 0;
    padding-top: 4vw;
    font-size: 0.9rem;
  }
  .card {
    width: 130%;
  }

  .page2 h2 {
    font-size: 1.2rem;
  }
  .page3 img {
    width: 100%;
  }

  .page5 h1 {
    font-size: 2rem;
    padding: 4vw;
  }
  .page5 h3 {
    font-size: 0.8rem;
    font-weight: 400;
    padding-bottom: 5vw;
    margin-left: 10vw;
    margin-right: 10vw;
  }
  .page5 button {
    font-size: 0.8rem;
    padding: 2vw;
  }
  .card,
  .card2 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .Left_card,
  .Right_card {
    width: 100%;
  }
  .footer {
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 0vw 10vw 0vw 10vw;
    font-size: 0.9rem;
  }
  .footer_bottom {
    width: 100%;
    padding: 0vw 10vw 0vw 10vw;
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1400px) {
  .margin {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 10vw;
  }
  .hero_title {
    padding: 10vw;
    position: relative;
  }
  .hero_title h1 {
    font-size: 4rem;
  }
  .hero_title h2 {
    font-size: 1.2rem;
  }
  .hero_button {
    font-size: 1.2rem;
  }
  .page1 img {
    height: auto;
    width: 40%;
    position: absolute;
  }
  .page2 img {
    max-width: 60%;
    padding-top: 10vw;
    padding-bottom: 10vw;
  }
  .page2 h3,
  h1 {
    font-size: 2rem;
  }
  .columns {
    display: block;
    padding-top: 5vw;
  }
  .columns p {
    padding-left: 0;
    padding-top: 4vw;
    font-size: 0.9rem;
  }
  .card {
    width: 130%;
  }
  .page2 p {
    font-size: 1.8rem;
  }
  .page2 h2 {
    font-size: 2.2rem;
  }
  .page3 img {
    width: 100%;
    padding-bottom: 10vw;
  }
  .page4 {
    min-height: 100vh;
    height: 100%;
  }
  .page5 h1 {
    font-size: 2.5rem;
    padding: 0vw 4vw 0vw 4vw;
  }
  .page5 h3 {
    font-size: 1.5rem;
    font-weight: 400;
    padding-bottom: 5vw;
    margin-left: 10vw;
    margin-right: 10vw;
  }
  .page5 button {
    font-size: 1.5rem;
    padding: 2vw;
  }
  .card,
  .card2 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .Left_card,
  .Right_card {
    width: 100%;
  }
  .card2 {
    padding: 0;
    margin: 0;
  }
  .card2 img {
    width: 50%;
  }

  .footer {
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 0vw 10vw 0vw 10vw;
    font-size: 1.4rem;
  }
  .footer_bottom {
    width: 100%;
    padding: 5vw 10vw 0vw 10vw;
    font-size: 1.2rem;
  }
}

/* The rest of the CSS remains the same as before */
/* ... */
